


IO_LOC "lcd_cs" P11;
IO_PORT "lcd_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_wr" M11;
IO_PORT "lcd_wr" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_rd" N10;
IO_PORT "lcd_rd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[15]" D15;
IO_PORT "lcd_data[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[14]" D16;
IO_PORT "lcd_data[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[13]" E14;
IO_PORT "lcd_data[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[12]" B13;
IO_PORT "lcd_data[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[11]" A14;
IO_PORT "lcd_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[10]" B14;
IO_PORT "lcd_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[9]" A15;
IO_PORT "lcd_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[8]" A12;
IO_PORT "lcd_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[7]" B11;
IO_PORT "lcd_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[6]" B12;
IO_PORT "lcd_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[5]" C12;
IO_PORT "lcd_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[4]" C11;
IO_PORT "lcd_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[3]" A11;
IO_PORT "lcd_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[2]" C9;
IO_PORT "lcd_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[1]" A9;
IO_PORT "lcd_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_data[0]" E10;
IO_PORT "lcd_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_dc" P12;
IO_PORT "lcd_dc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_res" D10;
IO_PORT "lcd_res" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_PORT "key_in[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[9 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[8 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[7 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[6 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[5 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[4 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[3 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[2 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[1 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "key_in[0 ]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "key_in[13]" P16;
IO_LOC "key_in[12]" P15;
IO_LOC "key_in[11]" N16;
IO_LOC "key_in[10]" N14;
IO_LOC "key_in[9 ]" N15;
IO_LOC "key_in[8 ]" R16;
IO_LOC "key_in[7 ]" T13;
IO_LOC "key_in[6 ]" T11;
IO_LOC "key_in[5 ]" R14;
IO_LOC "key_in[4 ]" T15;
IO_LOC "key_in[3 ]" K14;
IO_LOC "key_in[2 ]" K15;
IO_LOC "key_in[1 ]" K13;
IO_LOC "key_in[0 ]" K12;

IO_LOC "spi_miso" L13;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_mosi" L16;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_sck" L12;
IO_PORT "spi_sck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_wr" J12;
IO_PORT "spi_wr" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_cs" J11;
IO_PORT "spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "rst_n" F10;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_in" T7;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_PORT "AD9288_DIN_B[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_DIN_A[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "AD9288_CLK_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "AD9288_CLK_A" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "AD9288_CLK_B" T6;
IO_LOC "AD9288_DIN_B[7]" N7;
IO_LOC "AD9288_DIN_B[6]" N8;
IO_LOC "AD9288_DIN_B[5]" P6;
IO_LOC "AD9288_DIN_B[4]" R8;
IO_LOC "AD9288_DIN_B[3]" T9;
IO_LOC "AD9288_DIN_B[2]" P9;
IO_LOC "AD9288_DIN_B[1]" T8;
IO_LOC "AD9288_DIN_B[0]" P8;
IO_LOC "AD9288_CLK_A" G15;
IO_LOC "AD9288_DIN_A[7]" G16;
IO_LOC "AD9288_DIN_A[6]" H15;
IO_LOC "AD9288_DIN_A[5]" L9;
IO_LOC "AD9288_DIN_A[4]" L8;
IO_LOC "AD9288_DIN_A[3]" N9;
IO_LOC "AD9288_DIN_A[2]" M6;
IO_LOC "AD9288_DIN_A[1]" M8;
IO_LOC "AD9288_DIN_A[0]" M7;


IO_PORT "dac_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "dac_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dac_out[0]" K16;
IO_LOC "dac_out[1]" J15;
IO_LOC "dac_out[2]" J14;
IO_LOC "dac_out[3]" J16;
IO_LOC "dac_out[4]" F14;
IO_LOC "dac_out[5]" F16;
IO_LOC "dac_out[6]" J13;
IO_LOC "dac_out[7]" H11;
IO_LOC "dac_out[8]" E16;
IO_LOC "dac_out[9]" F15;
IO_LOC "dac_clk" C16;




