################################################
# 通用
################################################
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.zip

################################################
# Gowin FPGA
################################################
# 综合 / 实现 / 下载生成物
impl/
.sim/
temp/

*.fs
*.fs.*
*.bin
*.bit
*.svf
*.db
*.vg

# 报告
*.html
*.rpt
*.xml

################################################
# Gowin IP
################################################
# 保留 IP 配置
!*.ipc
!*.mod

# 忽略 IP 自动生成中间文件
*_tmp.v
*_tmp.vhd

################################################
# GD32 / Keil (ARM)
################################################
# 编译输出目录
Objects/
Listings/

# 编译产物
*.o
*.d
*.axf
*.map
*.lst
*.crf

# Keil 用户 / 状态文件
*.uvguix.*
*.scvd

################################################
# IDE / 编辑器
################################################
.vscode/
.idea/

################################################
# 用户私有文件
################################################
*.user
